*.lbl
*.o
*.so
*.a
*.dSYM
*.exe
*.out
*.app
*.ipa
*.apk
*.class
*.jar
*.war
*.ear
*.dll
*.lib
*.obj
*.pdb
*.idb
*.mdb
*.sdf
*.suo
*.user
*.userprefs
*.vs
*.vscode
*.idea
*.iml
*.hprof
*.log
*.tmp
*.temp
*.bak
*.swp
*.swo
*.DS_Store
.vscode/
bookstore
main